<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
  <title>Oh No My Money</title>
  
  <meta content="money graphs charts" name="keywords" />
  <meta content="<%= user.name %>'s money, on display, with graphs." name="description" />
  <meta content="<%= user.name %>" name="author" />
  <meta content="2008" name="copyright" />
  
  <link charset="utf-8" href="/ohnomymoney.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/worth.xml" rel="alternate" title="Oh No My Money" type="application/rss+xml" />
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/highcharts.src.js"></script>
  <!--[if IE]>
    <script type="text/javascript" src="/javascripts/excanvas.compiled.js"></script>
  <![endif]-->
  
  <script type="text/javascript">
    var user_handle = "<%= user.handle %>";
    var account = {
      id: <%= account.id %>,
      name: "<%= account.name %>",
      type: "<%= account.account_type %>"
    }
  </script>
  <script type="text/javascript" src="/javascripts/ohnomychart.js"></script>
</head> 
<body> 
  
  <div class="accounts left"> 
    <div class="account oldest"> 
      <h3><%= date oldest.date_of %></h3> 
      <span class="<%= direction oldest.amount %>"><%= format_amount oldest.amount %></span> 
    </div> 
  </div>
  
  <div class="accounts right"> 
    <div class="account newest"> 
      <h3><%= date newest.date_of %></h3> 
      <span class="<%= direction newest.amount %>"><%= format_amount newest.amount %></span> 
    </div> 
  </div> 
  
  <div class="title"> 
    <h2 class="negative"><%= account.name %></h2> 
  </div> 
  
  <div class="graph"> 
    <div id="main-chart" style="width: 857px; height: 350px"></div>
    
    <div class="back"> 
      <a href="/<%= user.handle %>">Go Back</a>
    </div> 
  </div>
  
  <div class="footer">
    This is <a href="<%= user.url %>"><%= user.name %></a>'s money.  This site made against the advice of everyone who loves him.
  </div>
  
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-252618-6");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
  
</body>
</html>