<h1>Oh No My Money</h1>

<div class="accounts left">
  <h2>Oh No</h2>
  
  <% debts.each do |account| %>
    <% balance = account.balances.first :order => "created_at DESC" %>
    <div class="account">
      <h3><%= account.name %></h3>
      <span class="negative"><%= format_amount balance.amount %></span>
      <a href="/<%= user.handle %>/account/<%= account.id %>">graph</a>
    </div> 
  <% end %>
</div>

<div class="accounts right">
  <h2>My Money</h2>
  
  <% assets.each do |account| %>
    <% balance = account.balances.first :order => "created_at DESC" %>
    <div class="account">
      <h3><%= account.name %></h3>
      <span class="positive"><%= format_amount balance.amount %></span>
      <a href="/<%= user.handle %>/account/<%= account.id %>">graph</a>
    </div> 
  <% end %>
  
</div> 

<div class="worth"> 
  <h3>Net Worth</h3> 
  <% balance = worth.balances.first :order => "created_at DESC" %>
  <span class="<%= direction balance.amount %>"><%= format_amount balance.amount %></span> 
  <a class="<%= direction balance.amount %>" href="/<%= user.handle %>/account/<%= worth.id %>">graph</a>
  <h4> 
    as of <%= long_date Time.now %>
    <a href="/<%= user.handle %>/worth.xml"> 
      <img alt="RSS" src="/images/rss.png" /> 
    </a> 
  </h4>
</div>