<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Oh No My Money: <%= user.name %></title>
    <link>http://ohnomymoney.com/<%= user.handle %></link>
    <language>en-us</language>
    <description><%= user.name %>'s money.</description>
    <atom:link href="http://ohnomymoney.com/<%= user.handle %>/worth.xml" rel="self" type="application/rss+xml"></atom:link>
    <% balances.each_with_index do |balance, i| %>
      <item>
        <title><%= user.name %>'s <%= account.name %>: <%= format_amount balance.amount %></title>
        <description><%= format_amount balance.amount %></description>
        <link>http://ohnomymoney.com#<%= i + 1 %></link>
        <guid>http://ohnomymoney.com#<%= i + 1 %></guid>
        <pubDate><%= midnight_stamp balance.date_of %></pubDate>
      </item>
    <% end %>
  </channel>
</rss>